---
title: The Ohio State University - Faculty Members
---

<div class="main-grid">
  <div class="grid-container">
    <div class="prof">
      <div class="img"><%= image_tag "arora.JPG", alt: "Arora, Anish" %></div>
      <div class="info">
        <h2>Arora, Anish</h2>
        <p class="title">
          Distinguished Professor of Engineering, Computer Science and
          Engineering
        </p>
        <p class="title">Chair, Computer Science and Engineering</p>
        <p>Faculty</p>
        <p>Tenure-track</p>
        <p>(614) 292-1836</p>
        <p class="email">arora.9@osu.edu</p>
        <p>Dreese Laboratories</p>
      </div>
    </div>
    <div class="prof">
      <div class="img">
        <%= image_tag "blanas.jpg", alt: "Blanas, Spyros" %>
      </div>
      <div class="info">
        <h2>Blanas, Spyros</h2>
        <p class="title">
          Associate Professor, Computer Science and Engineering
        </p>
        <p>Faculty</p>
        <p>Tenure-track</p>
        <p>(614) 292-6381</p>
        <p class="email">blanas.2@osu.edu</p>
        <p>Dreese Laboratories</p>
      </div>
    </div>
    <div class="prof">
      <div class="img">
        <%= image_tag "bojjavenkatakrishnan.jpg", alt: "Bojja Venkatakrishnan,
        Shaileshh" %>
      </div>
      <div class="info">
        <h2>Bojja Venkatakrishnan, Shaileshh</h2>
        <p class="title">
          Assistant Professor, Computer Science and Engineering
        </p>
        <p>Faculty</p>
        <p>Tenure-track</p>
        <p class="email">bojjavenkatakrishnan.2@osu.edu</p>
        <p>Dreese Laboratories</p>
      </div>
    </div>
    <div class="prof">
      <div class="img"><%= image_tag "bucci.png", alt: "Bucci, Paolo" %></div>
      <div class="info">
        <h2>Bucci, Paolo</h2>
        <p class="title">Senior Lecturer, Computer Science and Engineering</p>
        <p>Faculty</p>
        <p>Lecturers</p>
        <p>(614) 292-0066</p>
        <p class="email">bucci.2@osu.edu</p>
        <p>309 Hitchcock Hall</p>
      </div>
    </div>
    <div class="prof">
      <div class="img">
        <%= image_tag "champion.jpg", alt: "Champion, Adam" %>
      </div>
      <div class="info">
        <h2>Champion, Adam</h2>
        <p class="title">Senior Lecturer, Computer Science and Engineering</p>
        <p>Faculty</p>
        <p>Lecturers</p>
        <p>(614) 292-5813</p>
        <p class="email">champion.17@osu.edu</p>
        <p>Dreese Laboratories</p>
      </div>
    </div>
    <div class="prof">
      <div class="img">
        <%= image_tag "crawfis.jpg", alt: "Crawfis, Roger" %>
      </div>
      <div class="info">
        <h2>Crawfis, Roger</h2>
        <p class="title">
          Associate Professor, Computer Science and Engineering
        </p>
        <p>Faculty</p>
        <p>Tenure-track</p>
        <p class="email">crawfis.3@osu.edu</p>
        <p>Dreese Laboratories</p>
      </div>
    </div>
  </div>
</div>
