<div class="auth-container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="auth-field">
      <%= f.text_field :name, autofocus: true, placeholder: "Full Name" %>
    </div>

    <div class="auth-field">
      <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="auth-field">
      <%= f.select :role, User.roles.keys.map { |role| [role.titleize, role] }, { prompt: "Select Role" }, class: "form-select" %>
    </div>

    <div class="auth-field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
    </div>

    <div class="auth-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "auth-submit" %>
    </div>
  <% end %>

  <div class="auth-divider">OR</div>

  <a href="#" class="oauth-button">
    <i class="bi bi-apple"></i>
    Sign up with Apple
  </a>
  <a href="#" class="oauth-button">
    <i class="bi bi-google"></i>
    Sign up with Google
  </a>
  <a href="#" class="oauth-button">
    <i class="bi bi-facebook"></i>
    Sign up with Facebook
  </a>

  <div class="auth-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
